/*
 * Color theme based on
 * https://color.adobe.com/fr/couleur2-color-theme-8727745/?showPublished=true
 *
 * - #34003e (accent color)
 * - #1c0026 (text)
 * - #81668d
 * - #c8b3db (body back)
 * - #c8d9cd
 */

html, body {
    margin: 0;
    padding: 0;
    font-family: sans;
    background-color: #ffffff;
    background-image: url('https://nuage.duchesse.chat/index.php/apps/theming/loginbackground');
    background-position: center center;
    background-attachment: fixed;
}

a, a:visited {
    color: #34003e;
}

.inner {
    max-width: 800px;
    padding: 1em;
    margin: 0px auto;
}


header#top .inner {
    background-color: #34003eaa;
    color: #ffffff;
    text-align: center;
    margin-top: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
}

#logo {
    background-color: #ffffff;
    border-radius: 50%;
    width: 15em;
}

header#top h1,
header#top h2 {
    margin-top: 2em;
}

.main .inner {
    padding-top: 4em;
    background-color: #ffffffaa;
}

.main .inner p {
    padding: .4em 5em;
}

.main .inner.button {
    padding-top: 0em;
    text-align: center;
}
.main .inner.button p {
    margin-top: 0em;
}

.button a {
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 5em;
    padding: .5em 1em;
    max-width: 300px;
    margin: 0 auto;
    border: .1em solid #34003eaa;
}
.button a:hover {
    background-color: #34003eaa;
    color: #ffffff;
}

footer#bottom {
    font-size: .8em;
}

footer#bottom h3,
footer#bottom dt {
    color: #34003e;
}

footer#bottom code {
    font-size: 1.2em;
}

footer#bottom dt {
    float: left;
    clear: left;
    width: 100px;
    margin-right: .5em;
    text-align: right;
    font-weight: bold;
}
footer#bottom dt::after {
    content: " :";
}
footer#bottom dd {
    margin-bottom: .6em;
}

/**
 * Responsive...
 */
@media screen and (max-width: 1000px) {
    .inner {
        max-width: 100%;
    }
    header#top .inner {
        margin-top: 0em;
        padding-top: 5em;
        padding-bottom: 5em;
    }
    #logo {
        width: 40%;
        max-width: 15em;
    }
    .main .inner p {
        padding: .4em 1em;
    }
}
